body {
  background: rgb(24, 24, 24);
  font-family: sans-serif;
  color: #eee;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 15px;
  background-color: rgba(255,255,255,.9);
}
header .nav-container a {
  display: inline-block;
  margin: 5px 10px 5px 10px;
  font-size: 15px;
  color: black;
}

header .nav-container a:hover {
  color: #666;
}

header .nav-container a i {
  font-size: 13px;
  width: 20px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

footer h1 {
  font-family: 'Pinyon Script', cursive;
  background-color: rgba(0,0,0,.9);
  font-size: 25px;
  margin: 0;
  padding: 5px 0 5px 0px;
  text-align: center;
}

footer h1 a:link, footer h1 a:visited {
  color: rgb(0,164,255);
}

footer .instruction {
  text-align: center;
  font-size: 15px;
  background-color: rgba(50,50,50,.95);
  padding: 5px;
}

footer .nav-container {
  text-align: left;
}

a:link, a:visited {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #666;
}

.next-image {
  position: fixed;
  top: calc(50% - 20px);
  z-index: 1;
  text-align: center;
}

.next-image i {
  font-weight: 900;
  font-size: 60px;
}

.next-image.left {
  left: 5px;
}

.next-image.right {
  right: 5px;
}

#main-pic-container {
  position: fixed;
  left: 55px;
  right: 55px;
  top: 0px;
  bottom: 0px;
}

#main-pic {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: contain;
}
